@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.2s linear;
  line-height: normal;
  scroll-behavior: smooth;
}

*::-webkit-scrollbar {
  height: 3px;
  width: 3px;
}
*::-webkit-scrollbar-thumb {
  background: #727272;
  border-radius: 25px;
}
*::-webkit-scrollbar-track {
  border-radius: 25px;
}

.transition-01 {
  transition: all 0.1s linear;
}

body {
  font-family: "Inter", sans-serif;
  height: 100svh;
  width: 100vw;
  overflow: hidden;
  background-color: #F4F4F4;
}

.app-container {
  @apply px-5 xl:w-[85%] max-xl:w-[90%] max-sm:w-full max-w-[1300px] mx-auto
}
.app-container-2 {
  @apply lg:px-5 xl:w-[85%] max-xl:w-[90%] max-sm:w-full max-w-[1300px] mx-auto
}

button {
  @apply rounded-[40px]
}
button:disabled {
  @apply animate-pulse
}

button.auth {
  @apply w-full py-[15px] mt-6 bg-primary-100 hover:bg-dark-100 hover:text-light-300 font-bold
}
.auth-sub-link {
  @apply text-primary-400 hover:text-primary-100
}

h1 {
  @apply text-base sm:text-[18px] font-bold text-dark-100
}

.header-element {
  @apply border border-transparent hover:border-light-100
}

textarea.prompt::-webkit-scrollbar {
  width: 8px;
}

.nav-link {
  @apply py-2 pl-3 pr-[15px] rounded-full border border-transparent text-light-100 
  text-xs font-bold flex items-center gap-2 
}
.nav-link.active {
  @apply border-primary-400 text-primary-400
}
.nav-link.inactive {
  @apply hover:border-light-100 border-opacity-75
}

.ellipses {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.primary-gradient {
  background: linear-gradient(180deg, #FFF 37.11%, rgba(255, 255, 255, 0.00) 100%);
}

.profile-input {
  @apply w-full py-[15px] px-3.5 rounded-[40px] bg-light-300 border border-light-100 mt-2 focus:outline-none
  text-dark-100 shadow-[0px_1px_2px_0px_rgba(16,24,40,0.05)] focus:border-primary-400
}

.main-section {
  height: calc(100% - 60px);
}

@media not all and (min-width: 1100px) {
  .main-section {
    height: calc(100% - 118px);
  }
}

.conversation-box {
  width: 100%;
}

@media (min-width: 1100px) {
  .conversation-box {
    width: calc(100% - 270px);
  }
}

.user {
  @apply text-primary-400 bg-primary-500 rounded-tl-[8px] ml-auto shadow-[0px_1px_2px_0px_rgba(16,24,40,0.05)]
}
.assistant {
  @apply text-dark-400 bg-light-400 rounded-tr-[8px] mr-auto shadow-[0px_1px_2px_0px_rgba(16,24,40,0.05)]
}