@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.2s linear;
  line-height: normal;
  scroll-behavior: smooth;
}

.transition-01 {
  transition: all 0.1s linear;
}

body {
  font-family: "Inter", sans-serif;
  width: 100vw;
  overflow: hidden;
  background-color: #000000;
}

.app-container {
  @apply px-5 xl:w-[85%] max-xl:w-[90%] max-sm:w-full max-w-[1300px] mx-auto
}

button {
  @apply rounded-[40px]
}
button:disabled {
  @apply animate-pulse
}

h1 {
  @apply text-sm sm:text-[18px] font-bold text-white
}
